body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td {
  margin: 0;
  padding: 0;
}

ul,
ol,
menu {
  list-style: none;
}
body {
  font-family: \5fae\8f6f\96c5\9ed1;
  _font-family: \5fae\8f6f\96c5\9ed1;
  color: #373737;
}
img {
  border: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:link {
  color: #393939;
  text-decoration: none;
}
a:visited {
  color: #393939;
  text-decoration: none;
}
a:hover {
  color: #19a690;
  text-decoration: none;
}
a:active {
  color: #393939;
  text-decoration: none;
}

.top {
  background-color: #324145;
  height: 70px;
  color: #f0f0f0;
}

.top a {
  color: #f0f0f0;
  display: inline-block;
  height: 70px;
}

.topbtn {
  position: relative;
}
.topbtn a > img {
  position: relative;
  top: 50%;
  margin-top: -15px;
  margin-left: 60px;
}
.topbtn > img {
  position: absolute;
  width: 98px;
  height: 98px;
  z-index: 1;
  top: 70px;
  
  /* display: none; */
}
.topbtn .weiboqr {
}
.topbtn .weixinqr {
  left: 98px;
}
.mainmenu {
  height: 44px;
  color: #ccc;
  background-color: #2f2d2d;
  
}

.mainmenu ul {
  overflow: hidden;
  height: 42px;
  position: relative;
}
.mainmenu li {
  float: left;
  width: 120px;
  height: 42px;
  font-size: 13.5pt;
  line-height: 42px;
  text-align: center;
  margin-left: 70px;
  cursor: pointer;
}
.mainmenu .on {
  background-color: black;
}
.mainmenu .line{
    background-color: #3FB0B1;
    height: 2px;
}

.mainmenu .pointer{
    display: inline-block;
    position: absolute;
    width: 12px;
    height:7px;
    bottom: 0px;
    left: 124px;
    color: #3FB0B1;
    background: url(img/pointer.png) no-repeat;
}

.logo {
  float: left;
}
.topbtn {
  float: right;
}

.banner {
  height: 460px;
  width: 1920px;
  position: relative;
  left: 50%;
  margin-left: -960px;
  overflow: hidden;
  background-color: #3FB0B1;
  background: url(img/banner.jpg) no-repeat;
}

.banner .info{
  position: relative;
  width: 550px;
  height: 270px;
  margin-left: 360px;
  margin-top: 70px;
  color: white;
}
.info li{margin-bottom: 10px; font-size: 12px;}
.info .tip span{display: inline-block; height: 28px;line-height:28px;background-color:#2B7F7F; font-size: 15px;padding: 0 18px;}
.info .title {font-size: 42px;margin-bottom: 20px;}
.info .subtitle{font-size:17px;}
.b_dot {
  height: 10px;
  text-align: center;
  position: absolute;
  z-index: 999;
  bottom: 25px !important;
  left: 50%;
  margin-left: -39px;
  _bottom: 20px;
}

.downloadlsbtn:link{
  display:inline-block;
  background: url(img/downloadlsbtn.png) no-repeat;
  width: 199px;
  height: 52px;
  margin-top: 20px;
}
.downloadbtn:link{
  display:inline-block;
  background: url(img/downloadbtn.png) no-repeat;
  width:217px;
  height:52px;
  margin-top: 20px;
}

.b_dot a {
  display: inline-block;
  width: 23px;
  height: 33px;
  background: url(http://guanjia.qq.com/assets/images/main/b_dot.png) 0 0
    no-repeat;
}

.b_dot a.on {
  background-position: -21px 0;
}

.box {
  overflow: hidden;
}

.box_in {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}


.childmenu{
  height: 95px;
  padding: 32px 0;
  
}

.childmenu a{
  display: block;
  position: relative;
  float: left;
  width: 75px;
  height: 95px;
  margin-left: 170px;
  font-size: 13.5pt;
  color:#646464;
  text-align: center;
  background: url(img/cmenubtn.png) no-repeat;
  cursor: pointer;
  
}

.childmenu a>p{
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.yijian{}
.childmenu .lishi{background-position-x:-74px;}
.childmenu .jietu{background-position-x:-148px;}
.childmenu .qidong{background-position-x:-222px;}

.contents{background: url(img/cbg.gif)}
.purpose{height: 458px;}
.ptext, .ppic{float: left; }
.purpose .ptext{width: 492px; padding: 0 54px;margin-top: 100px;color: #646464}
.purpose .ptext p{padding: 0 21px; line-height:39px;}
.purpose .ptext .title{font-size: 27pt;font-weight:600; color:#444;margin-bottom: 20px; background: url(img/s.gif) no-repeat 0px 10px;}
.purpose .ppic{margin-top: 74px;}
.purpose .ppic img{shadow:5px 5px 5px blue}

.bottombox{background: #324145;color: #fff; overflow: hidden;}
.bottom{height: 220px;background: url(img/bottombg.png) no-repeat center;}
.bottomlist{float: left;margin-left: 60px;margin-top: 53px;font-size: 13.5pt;}
.bottomlist li{margin-bottom: 5px;}
.bottomlist a{font-size: 10.5pt;color: #999999;}
.bottomlist a:hover{color: white}
.bottomqr{float: right;position: relative;top:100px;height: 96px;color:#999}
.bottomqr p{bottom: 0px;position: absolute;}
.bqrt{width: 210px;}

.foot{height: 30px;line-height:30px;font-size: 10.5pt;text-align: center; background:black;color:#4c4c4c;}